.note{
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;    
    /* padding size will change accordingly to text size */
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.note_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.delete_symbol{
    cursor: pointer;
}